# Python virtual environment
venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Editor/IDE files
.vscode/
*.swp
*.sublime*

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Generated resume PDF
resume.pdf
resume.html